# 超大文件夹（必须忽略，否则Git卡死）
checkpoints/
RL_train_cc3d/
RL_train/
predictions/
logs/
infer/
pyradiomics_dice/
Segmentation_infer/
cc3d/
back_up/
__pycache__/
.vscode/
.ipynb_checkpoints/

# 模型权重文件
*.pth
*.pt
*.bin
*.ckpt
*.h5
*.pkl
*.ubj
*.joblib

# 输出结果
*.csv
*.pdf
*.png
*.svg
*.txt
*.json
*.log

# Python缓存
*.pyc
*.pyo


!threshold_analysis_outputs/
!threshold_analysis_outputs/**/
!threshold_analysis_outputs/**/*.csv
!threshold_analysis_outputs/**/*.json
!threshold_analysis_outputs/**/*.txt

!screening_inference_outputs/**
screening_inference_outputs/*.png
screening_inference_outputs/*.jpg
screening_inference_outputs/*.jpeg
screening_inference_outputs/*.bmp
screening_inference_outputs/*.tif
screening_inference_outputs/*.tiff
screening_inference_outputs/*.webp
screening_inference_outputs/*/*.png
screening_inference_outputs/*/*.jpg
screening_inference_outputs/*/*.jpeg
screening_inference_outputs/*/*.bmp
screening_inference_outputs/*/*.tif
screening_inference_outputs/*/*.tiff
screening_inference_outputs/*/*.webp
screening_inference_outputs/**/*.png
screening_inference_outputs/**/*.jpg
screening_inference_outputs/**/*.jpeg
screening_inference_outputs/**/*.bmp
screening_inference_outputs/**/*.tif
screening_inference_outputs/**/*.tiff
screening_inference_outputs/**/*.webp

!my_json/*
